<h2>Edit course</h2>
<form ngNativeValidate [formGroup]="editCourseForm" (submit)="onSubmit()">
  <label>Name: <input type="text" formControlName="name" required></label>
  <label>FirstName: <input type="text" formControlName="hostFirstName" required></label>
  <label>LastName: <input type="text" formControlName="hostLastName" required> </label>
  <label>ETCS: <input type="number" formControlName="ETCS" required min="1" max="12"></label>
  <label>Semester: <input type="number" formControlName="semester" required min="1" max="7"></label>
  <label>Type:
    <select formControlName="type" required>
      <option *ngFor="let type of types" [value]="type">{{type}}</option>
    </select>
  </label>
  <label>Capacity: <input type="number" formControlName="capacity" required min="1" max="250"></label>
  <label>Image: <input type="text" formControlName="image" required></label>
  <div class="button">
    <input type="submit" value="CHANGE">
  </div>
</form>
<button (click)="delete()">DELETE</button>