form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
	margin: 0 auto;
}
label {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}
[type='submit'] {
	padding: 5px;
}
.ng-valid[required],
.ng-valid.required {
	border-left: 5px solid #42a948; /* green */
}
:host {
	padding: 20px;
	display: block;
}
