img {
	width: 100px;
	object-fit: contain;
}
.detalis {
	display: flex;
	margin-bottom: 50px;
	justify-content: space-around;
	align-items: center;
}

:host {
	padding: 20px;
	display: flex;
	flex-direction: column;
}
:host:nth-child(2n) {
	background-color: rgba($color: #4caf50, $alpha: 0.1);
}
:host:nth-child(2n + 1) {
	background-color: rgba($color: #4caf50, $alpha: 0.3);
}
